PORT = "YOUR-PORT"
DATABASE_URL = "..."

NODE_ENVIRONMENT = "development" || "production"

OTP_EXPIRATION_MINUTES = 10

GMAIL_USER = "..."
GMAIL_APP_PASSWORD = "..."

JWT_SECRET = "our little secret"
GEMINI_API_KEY = ".. get yours"

FRONTEND_URL = "your frontend url"